name: build.yml
on:
  workflow_dispatch:
  schedule:
    - cron: "0 22 * * *"
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set variables
        run: |
          echo "RELEASE_NAME=Released on $(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "ANTIFILTER_DOWNLOAD_COMMUNITY=https://community.antifilter.download/list/domains.lst" >> $GITHUB_ENV
          echo "REFILTER_ALL=https://raw.githubusercontent.com/1andrevich/Re-filter-lists/refs/heads/main/domains_all.lst" >> $GITHUB_ENV
          echo "HAGEZI_DNS_ADBLOCK=https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/multi.txt" >> $GITHUB_ENV
          echo "GFW=https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/refs/heads/release/gfw.txt" >> $GITHUB_ENV
          echo "GREATFIRE=https://raw.githubusercontent.com/Loyalsoldier/v2ray-rules-dat/refs/heads/release/greatfire.txt" >> $GITHUB_ENV
        shell: bash

      - name: Checkout Loyalsoldier/domain-list-custom
        uses: actions/checkout@v4
        with:
          repository: Loyalsoldier/domain-list-custom
          path: custom

      - name: Checkout v2fly/domain-list-community
        uses: actions/checkout@v4
        with:
          repository: v2fly/domain-list-community
          path: community

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./custom/go.mod
          cache-dependency-path: ./custom/go.sum

      - name: Get and add domain lists
        run: |          
          curl -sSL $ANTIFILTER_DOWNLOAD_COMMUNITY > ./antifilter-download-community.txt
          curl -sSL $REFILTER_ALL > ./refilter.txt
          curl -sSL $GFW > ./community/data/gfw.txt
          curl -sSL $GREATFIRE > ./community/data/greatfire.txt
          
          cp {antifilter-download-community,refilter}.txt ./community/data/
          for f in ./community/data/*.txt; do mv "$f" "${f//.txt/}"; done

      - name: Build ad block
        run: |
          curl -sSL $HAGEZI_DNS_ADBLOCK | perl -ne '/^\|\|([-_0-9a-zA-Z]+(\.[-_0-9a-zA-Z]+){1,64})\^$/ && print "$1\n"' | perl -ne 'print if not /^[0-9]{1,3}(\.[0-9]{1,3}){3}$/' > temp-reject.txt
          sed -i '/t.co/d' temp-reject.txt
          cat temp-reject.txt | sort --ignore-case -u > ./community/data/category-ads-all

      - name: Build Russia general blocked list
        run: |
          echo "include:antifilter-download-community" > ./community/data/ru-blocked
          echo "include:refilter" >> ./community/data/ru-blocked
          
      - name: Build geosite.dat file
        run: |
          cd custom || exit 1
          go run ./ --exportlists=category-ads-all,ru-blocked --datapath=../community/data

      - name: Move and zip files and generate sha256 hash
        run: |
          install -Dp ./custom/publish/geosite.dat ./publish/geosite.dat
          sha256sum ./publish/geosite.dat > ./publish/geosite.dat.sha256sum

      - name: Release and upload assets
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: ${{ env.RELEASE_NAME }}
          tag: ${{ env.TAG_NAME }}
          file_glob: true
          file: ./publish/*

      - name: Git push assets to "release" branch
        run: |
          cd publish || exit 1
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f -u origin release
